@import './tailwind.css';

@import '@wevisdemo/ui/styles/typography.css';
@import '@wevisdemo/ui/styles/components.css';

@font-face {
	font-family: 'Anakotmai';
	src: url('../static/fonts/anakotmai-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Anakotmai';
	src: url('../static/fonts/anakotmai-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Anakotmai';
	src: url('../static/fonts/anakotmai-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url('../static/fonts/BaiJamjuree-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'BaiJamjuree';
	src: url('../static/fonts/BaiJamjuree-Regular.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Kanit';
	src: url('../static/fonts/Kanit-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	src: url('../static/fonts/Kanit-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Kanit';
	src: url('../static/fonts/Kanit-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	src: url('../static/fonts/Kanit-BoldItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
